[init]
  defaultBranch = main
[core]
  editor = nvim
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
  precomposeunicode = true
[pull]
  rebase=true
[include]
  path = ~/.gitconfig.local
